.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 0 30px;
  margin-top: 30px;
  z-index: 10;

  .logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    font-size: 2.1rem;
    font-weight: 700;

    .img {
      width: 45px;
      height: 45px;
      border-radius: 30%;
      background-color: white;
      padding: 3px;
    }
    .font {
      color: whitesmoke;
      font-family: "Rubik", sans-serif;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      @media (max-width: 640px) {
        display: none;
      }
    }
  }

  .button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 50%;
  }

  .burger {
    width: 100%;
    &::after,
    &::before {
      content: "";
      display: block;
      width: 40%;
      background-color: black;
      height: 2px;
      margin: auto;
      position: relative;
    }

    &::after {
      top: -5px;
      transition: 0.3s;
    }
    &::before {
      transition: 0.3s;

      top: 5px;
    }
  }

  .burgerActive {
    &::after {
      top: -1px;
      transform: rotate(-360deg);
      transition: 0.3s;
    }

    &::before {
      top: 1px;
      transform: rotate(180deg);
      transition: 0.3s;
    }
  }
}
