.contact {
  background-image: url("../../../public/assets/contact.webp");
  background-position: center;

  background-size: 100% 100%;
  background-repeat: no-repeat;
  @media (max-width: 640px) {
    background-image: none;
  }
}

input,
textarea {
  background-color: transparent;
}

input[type="text"]:focus ~ .input-text,
input[type="text"]:not(:placeholder-shown) ~ .input-text,
input[type="tel"]:focus ~ .input-text,
input[type="tel"]:not(:placeholder-shown) ~ .input-text {
  @apply text-blue-500 bg-white font-semibold rounded-lg transform -translate-y-9 -translate-x-4 scale-75;
}

textarea:focus ~ .input-text,
textarea:not(:placeholder-shown) ~ .input-text {
  @apply text-blue-500 bg-white font-semibold rounded-lg transform -translate-y-9 -translate-x-4 scale-75;
}
