.thing {
  width: 30vw;
  aspect-ratio: 1/1;
  position: relative;
  perspective: 2000px;
  transform-style: preserve-3d;
  transform: rotateY(0deg) rotateX(0deg);
  animation: box 10s infinite linear;
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border: 1vw solid #fff;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-width: 0px;
  animation: spin 1s infinite linear;

  &--1 {
    --r: rotateY(0);
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  &--2 {
    --r: rotateY(-90deg);
    transform: translate(-50%, -50%) var(--r);
    animation-delay: calc(1s * 0.75);
  }
  &--3 {
    --r: rotateX(-90deg);
    transform: translate(-50%, -50%) rotateX(-90deg);
    animation-delay: calc(1s * 0.5);
  }
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) var(--r) rotateZ(360deg);
  }
}

@keyframes box {
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
