@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");

button.neumorphic {
  container-type: inline-size;
  aspect-ratio: 1/1;
  border: 0.5rem solid transparent;
  border-radius: 1rem;
  color: hsl(0 0% 10%);
  background: none;

  display: grid;
  place-content: center;
  gap: 1rem;

  --shadow: -0.5rem -0.5rem 1rem hsla(0, 0%, 100%, 0.75),
    0.5rem 0.5rem 1rem hsl(0 0% 50% / 0.5);
  box-shadow: var(--shadow);
  outline: none;
  transition: all 0.1s;

  &:hover,
  &:focus-visible {
    // border-color: hsl(219, 93%, 44%);
    color: hsl(219, 93%, 44%);
    scale: 1.1;
    box-shadow: var(--shadow), inset 0.5rem 0.5rem 1rem hsl(0 0% 50% / 0.5),
      inset -0.5rem -0.5rem 1rem hsla(0, 0%, 100%, 0.75);
    color: hsl(219, 93%, 44%);
    > i {
      font-size: 28cqi;
    }
    > span {
      font-size: 13cqi;
    }
  }

  > i {
    font-size: 36cqi;
  }
  > span {
    font-family: system-ui, sans-serif;
    font-size: 16cqi;
  }
}

.buttons {
  display: grid;
  width: min(70rem, 90%);
  margin-inline: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(8rem, 100%), 1fr));
  gap: 3rem;
}
